:root{
    --blue:#2E86AB;
    --yellow-dorado:#FFD700;
    --green-emerald:#00A388;
    --gray:#ECECEC;
}
/* GENERAL */
*{
    font-family: 'Wix Madefor Text', sans-serif;
    margin: 0; 
    padding: 0;

    box-sizing: border-box;
    transition: all .2s linear;
    /* Remove styles useless */
    text-decoration: none;
    outline: none;
    border: none;
}

    /* Color del sombreado al seleccionar */
*::selection{
    background: var(--green-emerald);
    color: #333;
}
*,*:before,*:after{
    box-sizing: inherit; /*PARA EL BOX MODEL*/
}
html{
    font-size: 62.5%;
    overflow-x: hidden; /*Evitar desbordamiento*/    
}



/* BARRA SCROLL FORMAT */
html::-webkit-scrollbar{
    width: .4rem;
}
html::-webkit-scrollbar-track{
    background: var(--gray);
}
html::-webkit-scrollbar-thumb{
    background: var(--green-emerald);
}



/* GLOBALES */
body{
    background: #111;
    height: 1000rem;
    padding-left: 30rem;
}

section{
    min-height: 100vh;
    padding: 1rem;
}
/* UTILIDADES */

.btn{
    padding: 1rem 3rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 5rem;
}
.btn:hover{
    background: var(--green-emerald);
}

.heading{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1.2rem;
    border-bottom: .1rem solid var(--green-emerald);
    color: var(--gray);
}
.heading span{
    color: var(--green-emerald);
}
/* HEADER */
header{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30rem;
    background: #1a1a1a;
    top:0;
    left: 0;
    z-index: 999;
    color: #fff;
}
header .user__img{
    height: 18rem;
    width: 18rem;
    border-radius: 50%;
    object-fit: cover;
    border: .8rem solid var(--green-emerald);
}
header .user__name{
    font-size: 3.5rem;
}
header .user__post{
    font-size: 2rem;
}
header .navbar{
    width: 100%;
}
header .navbar__list{
    list-style: none;
    padding: 2rem 0;
}
header .navbar__link{
    display: block;
    text-align: center;
    font-size: 2.1rem;
    color: var(--gray);
    padding: 1rem;
    margin: 1.2rem 5rem;
    border-radius: 2rem;
    background: #000;
    position: relative;
    z-index: 0;
    border: .1px solid #000;
}

header .navbar__link:hover{
    background: var(--green-emerald);
    border-color:  #fff;
}

#menu{
    position: fixed;
    top: 2rem;
    right: 2rem;
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 999;
    display: none;
}
.fa-times{
    rotate: 90deg;
    transition: all .1s;
}



/* HOME */
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 15rem;
    color: #fff;
}
.home h3{
    font-size: 2.5rem;
}
.home .heading{
    font-size: 5.2rem;
}

.home p{
    font-size: 1.8rem;
    padding: 1.5rem 0;
}
.btn i{
    padding: 0 .5rem;
    font-size: 1.8rem;
}


/* ABOUT */
.about{
    margin-top: 3rem;
    color: #fff;
}
.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}
.about__info{
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 6rem;
}

.about__info h3{
    font-size: 2rem;
    color: var(--green-emerald);
    padding: 1rem 0;
    font-weight: normal;
}

.about__info h3 span{
    color: #fff;
    padding: 0 .2rem;
    font-weight: bold;
}
.about__info .caja_btn{
    margin-top: 2rem;
}
.about .row .counter{
    display: flex;
    flex: 1 1 50rem;
    justify-content: center;
    flex-wrap: wrap;
}
.about .row .counter .box{
    width: 20rem;
    background: #222;
    text-align: center;
    padding: 2rem;
    margin: 1.5rem ;
}
.about .row .counter .box span{
    font-size: 4rem;
    color: var(--green-emerald);
}

.about .row .counter .box h3{
    font-size: 2rem;
    color: #fff;
}

/* Educacion */

.education{
    color: var(--gray);
}

.education .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 4rem 0 2rem 4rem;
}
.education .box-container .box{
    width: 25rem;
    height: 26rem;
    padding: 2rem;
    position: relative;
    border-left: .1rem solid var(--gray);
}
.education .box-container .box span{
    display: block;
    font-size: 1.3rem;
    background: #222;
    border-radius: 5rem;
    padding: .6rem 2rem;
    margin: 1rem auto ;
    width: 50%;
    font-weight: bold;
    color: var(--green-emerald);
    text-align: center;
}

.education .box-container .box h3{
    font-size: 2.5rem;
    margin-top: 1rem;
}
.education .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.4;
    padding: .2rem;
}
.education .box-container .box i{
    position: absolute;
    font-size: 2rem;
    top: -1.5rem;
    left: -2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    background: var(--green-emerald);
    text-align: center;
}



/* FOOTER */











/* Media Queries */

@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
    .home{
        padding: 1rem 4rem;
    }
}

@media (max-width: 991px){
    #menu{
        display: block;
    }
    header{
        left: -120%;
    }
    header.toggle{
        left: 0%;
    }
    body{
        padding: 0;
    }

}

@media (max-width: 768px){
    html{
        font-size: 50%;
    }



}


@media (max-width: 400px){
    header{
        width: 100vw;
    }
    .heading{
        margin: 0 3rem;
    }
    .about .row .counter .box{
        width: 100%;
    }


    .education .box-container .box{
        width: 100%;
    }
}




